@import "tailwindcss";

@theme {
  --font-sans:
    "Lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Belleza", ui-serif, "Georgia", "Cambria", "Times New Roman", "Times", serif;
}
